src/backend/api/*env
src/backend/bin
src/backend/lib
src/backend/lib64
src/backend/pyvenv.cfg
src/backend/src/api/__pycache__
src/backend/src/api/.env
src/backend/src/.env
src/backend/share
src/backend/excel-data/*
src/backend/data/*
