src/backend/api/*env
src/backend/src/*/bin
src/backend/src/*/include
src/backend/src/*/lib
src/backend/src/*/lib64
src/backend/src/*/pyvenv.cfg
src/backend/src/*/__pycache__
src/backend/src/*/.env
src/backend/share
src/backend/excel-data/*
src/backend/data/*
