@use "./colours.scss" as *;

div {
	padding: 0.5rem;
	background-color: $background;
}

.container {
	display: flex;
	background-color: $background-darker;
}

.user {
	justify-content: right;
}

.bot {
	justify-content: left;
	div {
		max-width: 50%;
	}
}

.message {
	animation: hidden-fade 0.5s;
	animation-iteration-count: 1;
	margin: 0.5rem;
	background-color: $background-darker;
	white-space: pre-wrap;
}

@keyframes hidden-fade {
	from {
		opacity: 0;
		transform: translateY(150px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.bot-message {
	border: solid 3px $yellow;
	
}

.user-message {
	border: solid 3px $blue;
}


@media screen and (max-width: 600px) {
	.message {
		width: 80vw;
	}
	.bot {
		div {
			max-width: unset;
		}
	}
}